@import "tailwindcss";

@theme {
  --color-cotton: #E38792;
  --color-garnet: #4E0A0B;
  --color-dusty: #F2EEE8;
  --color-khaki: #9DAD71;
  --color-palm: #364023;
  --color-parfait: #C7A39B;
  --color-blossom: #E6B1C4;
  --color-dolce: #EFD4DD;
}

body {
  background-color: var(--color-dusty);
  color: var(--color-palm);
  overflow-x: hidden;
}